* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  text-align: center;
  margin: 30px;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.yellow {
  color: yellow;
}

button {
  margin: 20px;
}
